LOG_MASTER='1'
LOG_CONSOLE='1'
LOG_APP_FILES='1'
LOG_GRAYLOG='0'
LOG_FILE_SIZE='5K'
LOG_LEVEL='debug'


#Rate Limitation forgot password otp
MAX_REQUEST_OTP_LIMIT = 10
#response Header related
MAX_AGE = 5184000
WHITELIST = "https://leadschool.in, https://nucleus.leadschool.in, http://delta.leadschool.in, localhost:3010"
MAX_ATTEMPT=3



TOKEN_SECRET='8ba74930010xxxxxxxxxxxxxxxxxxxxxxxx82e9d6a4cde8622089b5476f8'

# BASE Routes for axios
DELTA_API='http://localhost:19035'
USERS_API = 'http://localhost:19035'
SCHOOL_API = 'http://localhost:19021'
BOY_API = 'http://localhost:19025'
ASSESSMENT_API='http://localhost:19045'
TRANSACTION_API='http://localhost:19072'
SCHOOL_HOME_API='http://localhost:20003'

ELGA_GROUPING_URL = 'http://localhost:20003'
ANALYTICS_API='http://localhost:20003'

PORT=19030